@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    background: #f1f1f1;
}
.icon{
    width: 3%;
    min-height: 20px;
    min-width: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.header {
    padding: 1px;
    text-align: center;
    background: #FFAB5C;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.topnav {
    overflow: hidden;
    background-color: #E4833A;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #F8DDA4;
    color: #2E4057;
}
.left-halfcolum{
    float: left;
    width: 50%;
}
.right-halfcolum{
    float: left;
    width: 50%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
}
/* PAGE profile */
.leftcolumn {   
    float: left;
    width: 70%;
}
.rightcolumn {
    float: left;
    width: 30%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
.img-profile{
    border-radius: 15px;
    width: 60%;
}
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn, .left-halfcolum, .right-halfcolum {   
      width: 100%;
      padding: 0;
    }
}
@media screen and (max-width: 450px) {
    .topnav a {
      float: none;
      width: 100%;
    }
    .leftcolumn .card p{
        font-size: 0.8em;
    }
    .leftcolumn .card h1{
        font-size: 1em;
    }
    .header h2{
        font-size: 1em;
    }
    .column-center .card h1{
        font-size: 1em;
    }
    .row .right-halfcolum .card .experience ul{
        grid-template-columns: repeat(1,1fr);
    }
    .row .column-center .card .education-contant ul{
        grid-template-columns: repeat(1,1fr);
    }
}
/* PAGE Education */
.column-center {   
    float: left;
    width: 100%;
}
table{
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
}
th{
    padding: 10px;
    background-color: #7CB4B8;
}
tr{
    border-bottom: 1px solid #2E4057;
    padding: 10px;
    background-color: #BDD9DB;
}
td{
    padding: 10px;
}
.row .leftcolumn .card p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 1em;
}
.Flexbox-head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 2em;
}
.Flex-table{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}
.row .column-center .card h3{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}
.column-center .card .education-contant{
    overflow: auto;
}
.column-center .card .education-contant ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 20px;
}
.column-center .card .education-contant ul li{
    list-style: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 10px;
}
.column-center .card .education-contant ul li span{
    padding-left: 20px;
}
.column-center .card .education-contant ul li img{
    width: 25%;
}
.font-head{
    font-size: 2em;
}
.rightcolumn .card ul li img{
    max-width: 25px;
    margin-right: 10px;
}
/* PAGE SKILL */
.row .left-halfcolum .card ul li, .rightcolumn .card ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}
.right-halfcolum .card .experience ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0;
}
.right-halfcolum .card .experience ul li{
    list-style: none;
}
.right-halfcolum .card .experience ul li img{
    width: 95%;
    border-radius: 15px;
}
.color-skill{
    font-weight: 500;
    margin-top: 0;
    color: #E4833A;
}
/* PAGE contact */
.action .contact{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.action .contact img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.action .menu {
    background: #fceccb;
    width: 100%;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.action .menu.active{
    top: 80px;
    visibility: visible;
    opacity: 1;
}
.action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
}
.action .menu h3 span{
    font-size: 14px;
    color: #ff8800;
    font-weight: 400;
}
.list-content{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}
.action .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.6;
    transition: 0.5s;
}
.action .menu ul li:hover img{
    opacity: 1;
}
.action .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #8C7051;
    font-weight: 500;
    transition: 0.5s;
}
.action .menu ul li:hover a{
    color: #EF3054;
    font-weight: 600;
}
/* PAGE CV */
.bg{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background: #98C1D9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left-side{
    position: relative;
    background: #E76F51;
    padding: 40px;
}
.profiletext{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profiletext .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profiletext .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profiletext h2{
    color: #fff;
    font-size: 1em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profiletext h2 span{
    font-size: 0.7em;
    font-weight: 500;
    color: #12355B;
}
.contactInfo{
    padding-top: 10px;
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.contactInfo a, .contactInfo-education a{
    text-decoration: none;
}
.contactInfo ul{
    position: relative;
}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.contactInfo ul li .iconinfo img{
    display: inline-block;
    width: 20px;
    font-size: 18px;
    margin-right: 10px;
}
.contactInfo ul li span{
    color: #fff;
    font-weight: 300;
    font-size: 0.8em;
}
.zeromargin{
    margin-top: 0px;
    margin-bottom: 0px;
}
.contactInfo-education ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
}
.contactInfo-education h5{
    color: #12355B;
    font-weight: 700;
}
.contactInfo-education h4:nth-child(2){
    color: #fff;
    font-weight: 500;
}
.contactInfo-education h4{
    color: #fff;
    font-weight: 300;
}
.contactInfo-language ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
}
.contactInfo-language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #264653;
    display: block;
    margin-top: 5px;
}
.contactInfo-language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #E9C46A;
}
.contactInfo-language span{
    font-weight: 500;
    color: #12355B;
}
.container .right-side{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about{
    margin-bottom: 50px;
}
.about a{
    text-decoration: none;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: #E76F51;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.contain-profile{
    color: #333;
}
.about .Box{
    display: flex;
    flex-direction: row;
}
.about .Box .year{
    min-width: 150px;
}
.about .Box .year h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .Box .text h4{
    text-transform: uppercase;
    color: #4289B3;
    font-size: 16px;
    margin-bottom: 0;
}
.about.skill .Box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.about.skill .Box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.about.skill .Box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}
.about.skill .Box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #E9C46A;
}
.about.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.about.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.about.interest ul li img{
    width: 20px;
    margin-right: 5px;
}
@media (max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .about.interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 600px){
    .about .Box{
        flex-direction: column;
    }
    .about .Box .year{
        min-width: 150px;
        margin-bottom: 5px;
    }
    .about.interest ul{
        grid-template-columns: repeat(1,1fr);
    }
    .about.skill .Box{
        grid-template-columns: repeat(1,1fr);
    }
}
